body{
    background-color: black;
}
#a{
    display: block;
    font-size: 45px;
    color: white;
    text-align: center;
    font-family: 'Galada', cursive;
    font-style: italic;
    border: 6px solid white;
    margin-top:5px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
    padding: 15px;
    width: 400px;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {border-color:blue;}
    50% {box-shadow: 15px 15px 15px lightblue;}
    50% {color: #7c5295;}
}
#l { 
    margin-left: 632px;
     margin-right: auto;
}
.images{
    width:22%;
    height: inherit;
    float: left;
    margin:0 20px;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#t{
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-family: Arial;
    background-color: rgb(32, 32, 32);
}
.T{
    border-bottom: 4px solid red;
}
#g{
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 19px;
    font-family: cursive;
    margin-bottom: 30px;
}