.image{
    background-image: url("39006-full.jpg");
    text-align: center;
    background-size: cover;
    height: 1100px;
}
h1{
    color: white;
    text-align: center;
}
.contact{
    width: 30%;
    float: left;
    color: white;
    margin-top: 20px;

}
.description{
    width: 70%;
    float: left;
    color: white;
    margin-top: 20px;
}
body{
    background-color: black;
}
#desc{
    border-bottom: 3px solid red;
    font-size: xx-large;
}
#con{
    border-bottom: 3px solid red;
    font-size: xx-large;

}
#au,#bo,#li,#kn,#ear,#bp{
    font-size: large;
    margin-right: 15px;
}
#ea{
    font-size: x-large;
    border-bottom: 3px solid red;
    width: 125px;

}
#H{
    font-size: 50px;
    text-align: center;
    color: white;
    font-variant: small-caps;
    margin-right: 800px;
}
#l{
    margin-left: 60px;
}
#k{
    margin-left: 60px;
}
