.image{
    background-image: url("./Image/Picture.jpg");
    text-align: center;
    background-size: cover;
    height: 1200px;
}
h1{
    color: white;
    text-align: center;
}
.contact{
    width: 30%;
    float: left;
    color: white;
    margin-top: 20px;

}
.description{
    position: relative;
    width: 70%;
    float: left;
    color: white;
}
body{
    background-color: black;
}
#desc{
    border-bottom: 4px solid red;
    font-size: 40px;
    font-family: 'Grenze Gotisch', cursive;
}
#con{
    border-bottom: 4px solid red;
    font-size: 40px;
    font-family: 'Grenze Gotisch', cursive;
}
#au,#bo,#li,#kn,#ear,#bp{
    font-size: large;
}
#ea{
    border-bottom: 4px solid red;
    font-size: 30px;
    font-family: 'Grenze Gotisch', cursive;
}
#H{
    font-size:75px;
    text-align: center;
    color: white;
    margin-right: 250px;
    border-bottom: 5px solid red;
    font-family: 'Lobster', cursive;
#l{
    margin-left: 60px;

}
.que{
    color: white;
}

